<html>
  <head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
  </head>
  <body>
    {% if name %}
       Hello, {{name}}!
    {% else %}
       Hello, I love you, won't you tell me your name?
    {% endif %}
    <a href="{{ url }}">logout</a>
    <div id="gamelist">
      <h2>GAMES</h2>
      <table>
	<tr>
	  <td>Map</td>
	  <td>Opponents</td>
	</tr>
      {% for game in games %}
	<tr>
          <td>{{ game.mapname }}</td>
	  <td>{{ game.players }}</td>
	</tr>
     {% endfor %}
      </table>
    </div>
  <div id="newgame">
    <form action="/startgame" method="post">
      <label for="address">Opponent's address:</label>
      <input name="address" type="text"/><br/>
      <input type="submit" value="Invite opponent"/>
    </form>
  </div>
  </body>
</html>
